---
import Layout from "../layouts/Layout.astro";
import Callout from "../components/Callout.astro";
---

<Layout title="Home">
  <h1>Welcome</h1>
  <Callout title="Static-first">
    Trying out astro for the first time, and it's kinda nice!
  </Callout>
  <p>Read recent posts or learn more <a href="/about/">about this site</a>.</p>
</Layout>
